::-webkit-input-placeholder { color: #aaaaaa; }
:-moz-placeholder { color: #aaaaaa; }
::-moz-placeholder { color: #aaaaaa; }
:-ms-input-placeholder { color: #aaaaaa; }
#commentform input[type="submit"], #commentform input[type="submit"], .contact-form input[type="reset"], .comments-form input[type="reset"] {
  margin: 0 0 20px;
  width: auto;
  border: none;
  background-color: #990BFF;
  color:#fff;
  font-size: 13px;
    text-transform: uppercase;
    padding: 5px 25px;
    font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    border-radius: 5px;
}
#commentform input[type="submit"]:hover, #commentform input[type="submit"]:hover{
    background-color: #3A3A3A;
}
#commentform label {    
    width: 60px;
    display: block;
}
#commentform label span{
    color:#ff0000;
}
#commentform .input-block {
    margin-bottom: 20px;
}
#commentform textarea {
  height: 120px;
  width: 440px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
}
#commentform input {
  width: 440px;
  padding: 3px 5px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
}
section#content #commentform p {
    margin: 5px;
}
#respond {
    padding-top: 0px;    
    padding-left: 30px;
}
#respond h3 {
    text-transform: uppercase;
    font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

/************************
 Contacto
***********************/
input.wpcf7-text, textarea.wpcf7-textarea {        
    border-radius: 2px 2px 2px 2px;    
    padding: 5px 4px;
    width: 350px;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;    
}
textarea.wpcf7-textarea {
    height: 135px;
    font-size: 12px;
    width: 350px;
}
input.wpcf7-submit {
    width: 80px;
    height: 26px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 5px;
    color:#fff;
    background: #990bff;
    font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0px 30px;
}
div.wpcf7-validation-errors {
    color:#d82e17;
    border: 2px solid #d82e17 !important;    
}

p.cptch_block {
    /*
    display: block;
    position:absolute;
    */
}