/*------------------------------------*\
    Estilos Generales
\*------------------------------------*/
body {
  line-height:$baseline;
  font-family:$basefont;
  font-size:$basefontsize;
  color:$textcolor;
  background-color:$background;
}
body, html {
    height: 100%;
}
a { color:$linkcolor; }
a:hover { color:$linkcolorhover; text-decoration: none; }

#page-wrap {
    height: 100%; 
}