nav#topmenu {
	ul.topmenu {
		margin:0px;
		padding:0px;
		list-style:none;
		>li {
			float:left;
			>a {
				display:block;
				padding:10px 15px;
			}
		}
	}	
}
#menu-topmenu{
  @include phoneportrait{
    display: none;
  }
  @include tabletportrait{
    display:none;
  }
}
ul.sub-menu {
  @include phoneportrait{
    position: relative;
    box-shadow: none;
    visibility: visible !important;
    background: transparent;
  }
}